
        <div class="section">
            <h2>학력</h2>
            <div class="education">
                <h3>경북대학교 컴퓨터공학과 (2015.03 ~ 2020.08)</h3>
                <p class="grade">학점: 4.15 / 4.5 (150학점)</p>
                
                <div class="education-details">
                    <h5>주요 경험</h5>
                    <ul>
                        <li>7학기 조기졸업 및 우수졸업생</li>
                        <li>개발 경험: C/C++, C#, Java, Python, JavaScript, TypeScript, Swift</li>
                        <li>알고리즘 및 머신러닝 스터디 그룹 리더</li>
                        <li>교내외 수상실적 11개</li>
                    </ul>
                </div>
            </div>
        </div>