
        <div class="section">
            <h2>링크</h2>
            <div class="links-container">
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/myeonghun-park-7693a1184/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://hun-log.vercel.app/" target="_blank">신규 기술블로그</a></li>
                    <li><a href="https://azderica.github.io/til/docs/intro/" target="_blank">기술블로그 2 (책 관련)</a></li>
                    <li><a href="https://azderica.github.io/" target="_blank">기술블로그 1</a></li>
                    <li><a href="https://github.com/Azderica" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>